@using ASPNETWebApplicationTest.Models

@model List<SimpleModel>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" /> 
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<div class="form-horizontal">
    <table class="table">
        <tr>
            <th> Name </th>
            <th>Description</th>
        </tr>
        @foreach (var sm in Model)
        {
            <tr>
                <td>@sm.Name</td>
                <td>@sm.Description</td>
            </tr>
        }
    </table>
    
</div>
