@using ASPNETWebApplicationTest.Models

@model SimpleModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<button class="btn btn-default">@Html.ActionLink("Read", "Read", "OrmLite")</button>


<button class="btn btn-default">@Html.ActionLink("Create", "Create", "OrmLite")</button>
<button class="btn btn-default">@Html.ActionLink("Details", "Details", "OrmLite")</button>
<button class="btn btn-default">@Html.ActionLink("Search", "Search", "OrmLite")</button>


