@using ASPNETWebApplicationTest.Models

@model NumberModel
@{
    ViewBag.Title = "MainView";
}

<div class="container body-content">
    
    
    <h2>write a number</h2><br/> 
    @using (Html.BeginForm())
    {
        @Html.TextBoxFor(x=>x.number)  
        <button type="submit" class="btn-success" value="confirm">confirm</button> 
    }
    <br />
   <p> factorial: @Model.factorial <br /> </p>
   <p> square: @Model.square<br /> </p>
   <p> cube:  @Model.cube<br /> </p>
    @if (Model.isPrime)
    {
        <p>This number is a prime </p>
    }
    else
    {
        <p>This number is not a prime</p>
    }


</div>
